.container{

  font-family: "Okta Regular";
  margin-top: 2.5em;
}

.header{
  font-family: "Okta Regular";
  padding-left: 1.5em;
}

.balanceContainer{




}

.divider{
  padding-top: 1em;
  height: 8em;
  padding-left: 6.5em;
}


.IconandText{

  display:flex;

  align-items: start;
  //justify-content: right;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
  //padding-top: 1em;
  padding-left: 3em;
}
