@font-face {
  font-family: 'Okta Regular';
  src: url('https://res.cloudinary.com/seunsanyaa/raw/upload/v1638851030/OktaNeue-Regular_ns5e9s.ttf') ;
}



.container{
  background: #FFFFFF;
  margin-top: 1.8em;
  border-radius: 6px;
  padding-left: 2em;
}



.containerElement{

  display: flex;
}
.IconandText{

  display:flex;

  align-items: start;
  //justify-content: right;
padding-top: 1.5em;
  padding-bottom: 2.5em;
  //padding-top: 1em;
padding-left: 2.2em;
}

.welcomeIcon{
 padding-top:0.3em;
}
.welcomeDetails{

  padding-left: 1em;
}
.welcomeBack{
  margin: unset;
  font-family: Okta !important;
  font-size: 1.4em;
color: black;
}
.name{
  font-family: 'Okta Thin';
color: #303030;
}
.date{
  margin: unset;
  padding-top: 1em;
  font-family: "Okta Regular";
  color: black;
}

.myBalance{
  margin: unset;
  padding-top: 1em;
  font-family: "Okta Regular";
  color: black;
  display: flex;
  align-items:center;
}

.usdBalance{
  font-family: Okta;
  color: black;
}
.cryptoBalance{
  font-family: Okta;
  color: black;
}
.eyeDiv{

  align-items: center;
  padding-top: 0.1em;
}

.comingSoon{
  background: rgba(196, 196, 196, 0.2);
//border-bottom-left-radius: 1em;
//  border-top-left-radius: 1em;
  border-radius: 1em;
padding-left: 0.5em;
  padding-right:0.5em;
padding-top: 0.3em;
  padding-bottom: 0.3em;
margin-left: 1em;
font-size: 0.6em;
  font-family: "Okta";

}
.divider{
  padding-top: 1em;
height: 8em;
  padding-left: 3.8em;
}

.balanceandComingsoon{
  display: flex;
  text-align: center;
  align-items: center;
}