
.container{

}

.buyAndSellHeaders{
  display: grid;
  grid-template-columns: 1fr 1fr;
text-align: center;

}



.buyAndSellHeader{

  font-family: "Okta";
  color: black;
}

.buyAndSellHeaderLeft{
  border-top-left-radius: 6px;
  background: #FFFFFF;
  color: black;
}

.buyAndSellHeaderRight{
  border-top-right-radius: 6px;
  background:rgba(196, 196, 196, 0.26);
}

.buyAndSellHeader{



margin: 0.4em;
}

.formContainer{
text-align: center;
  background: white;

}


.coinName{


  font-family: "Okta Regular";
  border: 0.611765px solid #C4C4C4;
  border-radius: 6.11765px;
  font-size: 1em;
  color: black;

}

.formContainer{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-top: 1.5em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.coinAmount{
  width: 100%;
  height: 3em;
  border: 0.611765px solid #C4C4C4;
  border-radius: 6.11765px;
 margin-top: 1.5em;
  font-family: "Okta Regular";
  font-size: 1.1em;
  padding-left: 1em;
  color: black;
}

.buySubmit{
  width: 100%;
  height: 3em;
  border: 0.611765px solid #C4C4C4;
  border-radius: 6.11765px;
  margin-top: 1.5em;
  font-family: "Okta Regular";
  font-size: 1.1em;
  padding-left: 1em;
  background: #D4B418;
  color: white;

}

.coinNameOption{
padding-left: 2em;
  font-family: "Okta";

}
.coinLabel{

  font-family: "Okta Regular";
}
