
.container{

  margin-top: 5em;
}

.watchlistHeader{

  font-family: "Okta Regular";
}

.containerElement{
  background: #FFFFFF;
  display: block;
}

.IconandText{
  display: flex;
  align-items: center;

}

.firstRow{
  font-family: "Okta Regular";
}
.content{

  padding-left: 0.5em;
}
