
.container{

  margin-top: 4em;
}
.containerElement{

  padding-top: 2em;
  padding-bottom: 2em;
}

.watchlistHeader{

  font-family: "Okta Regular";
}

.containerElement{
  background: #FFFFFF;
  display: block;
  border-radius: 6px;
}

.IconandText{
  display: flex;
  align-items: center;

}


.content{

  padding-left: 0.5em;
}

.firstRow{
  font-family: "Okta";
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  font-size: 1em;
}
.containerElement{
  padding-left: 6em;
}

.coinRow{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-top: 2.5em;
}
.coinLogo{
  display: flex;
  align-items: center;
}
.coinName{
  padding-left: 0.8em;
  font-family: "Okta Thin";
  font-size: 1.2em;

}

.coinChart{
  padding-top: 0.5em;
  margin: unset;
}
.coinPrice{
  font-family: "Okta Thin";
  font-size: 1.2em;
  margin: unset;
}

.coinChange{

  font-family: "Okta Thin";
  font-size: 1.2em;
  color: #ED3237;
  margin: unset;
}

.coinChangeSecond{
  font-family: "Okta Thin";
  font-size: 1.2em;
  color: #3CC13B;
  margin: unset;
}

.coinName{
  margin: unset;
}