@font-face {
  font-family: 'Okta';
  src: url('https://res.cloudinary.com/seunsanyaa/raw/upload/v1638778653/OktaNeue-SemiBold_pttfou.ttf') ;
}


.NavBarContent{
font-family: Okta !important;
  padding-top: 1.2em;


}

.NavBarContent > :not(.divider) {
padding-left: 2em;


}

.divider{

  padding-top: 2em;
  width: 15em;

}
.menu{

  padding-top: 4em;
}

.menuLinks{

  padding-top: 0.7em;
}


.menuLinks div:not(:first-child){
padding-top: 1.5em;

}

.othersLink div:not(:first-child){
  padding-top: 1.3em;

}
.IconandText{
  display: flex;
  align-items: center;

}



.menuLinkContent{
padding-left: 1em;
  font-size:1em;
  color: black !important;
  font-family: Okta !important;
}



.nav{
  background: white;
  height: 100vh;

  position: fixed;
  overflow-x: hidden;
  z-index: 1000 ;
  top: 0;
  left: 0;
}

.others{
padding-top: 1.5em;

}
.othersLink{

  padding-top: 1em;
}

.h4{
color: grey;

}

.logout{
  border: unset;
  background: none;
  padding-left: 1em;
  font-size:1em;
  color: #303030;
  font-family: "Okta";
  text-decoration: none;
  text-align: left;
}

.logoutLinkContent{

  font-size:0.9em;
  color: #303030;
}
