@font-face {
  font-family: 'Okta';
  src: url('https://res.cloudinary.com/seunsanyaa/raw/upload/v1638778653/OktaNeue-SemiBold_pttfou.ttf') ;
}


.NavBarContent{
font-family: Okta;
  padding-top: 1.2em;

}

.NavBarContent > :not(.divider) {
padding-left: 2em;


}

.divider{

  padding-top: 2em;
  width: 15em;

}
.menu{

  padding-top: 2em;
}

.menuLinks{

  padding-top: 0em;
}


.menuLinks div:not(:first-child){
padding-top: 1.3em;

}

.othersLink div:not(:first-child){
  padding-top: 1.3em;

}
.IconandText{
  display: flex;
  align-items: center;

}



.menuLinkContent{
padding-left: 1em;
  font-size:0.9em;
  color: #303030;
}



.nav{
  background: white;
  height: 100vh;

  position: fixed;
  overflow-x: hidden;
  z-index: 1000 ;
  top: 0;
  left: 0;
}

.others{
padding-top: 0.5em;

}
.othersLink{

  padding-top: 0em;
}

.h4{
color: grey;

}

.logout{
  padding-left: 0.9em;
  font-family: Okta;
  background: none;
  border: unset;
  font-size: 0.9em;
  color: #303030;
  cursor: pointer;
}
.logoutModal{
  text-align: center;
  align-items: center;
}
.logoutParagraph{
  font-family: "Okta Regular";
  color: #303030;
}

.yesOrno{

  text-align: center;
}

.yes{

background: #D4B418;
border: none;
  text-decoration: unset;
  color: #FFFFFF;
  //padding-top: 0.5em;
  //padding-bottom: 0.7em;
  font-size: 1em;
  font-family: "Okta Regular";
  width: 5.5em;
  height: 2em;
  border-radius: 5px;
}

.no{

  background: none;
  border: 0.8px solid #D4B418;
  text-decoration: unset;
  margin-left :1.2em;
  //padding-top: 0.5em;
  //padding-bottom: 0.7em;
  font-size: 1em;
  font-family: "Okta Regular";
  width: 5.5em;
  height: 2em;
  border-radius: 5px;
}