@font-face {
  font-family: 'Okta';
  src: url('https://res.cloudinary.com/seunsanyaa/raw/upload/v1638778653/OktaNeue-SemiBold_pttfou.ttf') ;
}


.NavBarContent{
font-family: Okta;
  padding-top: 1.2em;

}

.NavBarContent > :not(.divider) {
padding-left: 2em;


}

.divider{

  padding-top: 2em;
  width: 15em;

}
.menu{

  padding-top: 2em;
}

.menuLinks{

  padding-top: 0em;
}


.menuLinks div:not(:first-child){
padding-top: 1.3em;

}

.othersLink div:not(:first-child){
  padding-top: 1.3em;

}
.IconandText{
  display: flex;
  align-items: center;

}



.menuLinkContent{
padding-left: 1em;
  font-size:0.9em;
  color: #303030;
}



.nav{
  background: rgba(196, 196, 196, 0.12);
  min-height: 100vh;



}

.others{
padding-top: 0.5em;

}
.othersLink{

  padding-top: 0em;
}

.h4{
color: grey;

}