@font-face {
  font-family: 'Okta Thin';
  src: url('https://res.cloudinary.com/seunsanyaa/raw/upload/v1638778212/Groteskly_Yours_-_Okta_Neue_UltraLight_hlnfue.otf') ;
}

.page{

  max-width: 1440px;
}

.rightGrid{
  display: grid;
  grid-template-rows:5% 95%;
  opacity:0.8;
  background:ghostwhite;
margin-left: 15em;

  min-height: 100vh;
  z-index:1;


  padding-bottom: 2em;

}


.grey{
overflow: unset;

  width: 100%;
position: fixed;
  background: white;
  padding-right: 18em;
  padding-bottom: 0.5em;
  z-index: 1;
  max-width: 1440px;
}

.lightGrey{

  background: none;
  padding-left: 3em;
  padding-right: 3em;

  margin-top: 3em;


}

.userProfile{

  display:flex;

  align-items: center;
  justify-content: right;

  padding-top: 0.5em;

}

.userProfileIcon{

  display: block;





}
.userProfileIconImage{
  border-radius: 50%;
}

.userProfileName{
  font-family: Okta;
padding-left: 0.8em;

}

.fullName{
color: black;
  margin: unset;
font-size: 0.9em;

}

.email{
  margin: unset;
  font-size: 0.6em;
  font-family: "Okta Regular";
}

.lastGrid{

  margin-top: 3.5em;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
}