@font-face {
  font-family: 'Okta Thin';
  src: url('https://res.cloudinary.com/seunsanyaa/raw/upload/v1638778212/Groteskly_Yours_-_Okta_Neue_UltraLight_hlnfue.otf') ;
}



.rightGrid{
  display: grid;
  grid-template-rows:5% 95%;
  opacity:0.8;
  background:snow;
margin-left: 15em;

  min-height: 100vh;
  z-index:1;

}


.grey{



  width: 100%;
  background: white;
}

.lightGrey{

  background: ghostwhite;
  padding-left: 3em;
  padding-right: 3em;
  height: 200%;
}

.userProfile{

  display:flex;

  align-items: center;
  justify-content: right;
 margin-right: 4em;
  padding-top: 0.5em;

}

.userProfileIcon{

  display: block;





}
.userProfileIconImage{
  border-radius: 50%;
}

.userProfileName{
  font-family: Okta;
padding-left: 0.8em;

}

.fullName{
color: black;
  margin: unset;
font-size: 0.9em;

}

.email{
  margin: unset;
  font-size: 0.6em;
  font-family: "Okta Regular";
}

.lastGrid{

  margin-top: 3.5em;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
}