

.padding{

  padding-top: 2em;
  padding-left: 2em;
    padding-right: 2em;
padding-bottom: 2em;
}
.container{

  font-family: "Okta Regular";
  margin-top: 2.5em;
}


.header{


  font-family: "Okta Regular";
  padding-left: 1.5em;

}
.grid{

  display: grid;
  grid-template-columns: 2fr 0.3fr 2fr;

padding-top: 1em;
  text-align: center;
  //border-top:  0.8px solid #C4C4C4;
  //border-left:0.8px solid #C4C4C4;
  //border-right: 0.8px solid #C4C4C4;;

}

.containerElement{
//margin-left: 4em;
//  padding-top: 3em;
// padding-bottom: 3em;
//  padding-left: 2em;
//  padding-right: 2em;

border: 0.8px solid #C4C4C4;


}

.leftForm>*{
  //
  //display: block;
  //width: 100%;

  margin: unset;
}
.selectPadding{
  padding-left: 10em;
  padding-right: 10em;


}
.MuiSelect-select{
  outline: none;
}
.select{
border-color: #3CC13B;
  font-family: "Okta Regular";
  display: flex;
width: 100%;
text-align: center;
}
.coin{
font-family: "Okta Regular";
  display: flex;
  align-items: center;
}

.input{
  margin-top: 0.8em;
text-align: center;
  width: 100%;
  border: unset;
  font-size: 2em;
  font-family: "Okta Thin";
  color: black;
  outline: none;
}

.usdButton{
display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: unset;
  font-family: "Okta Regular";
  font-size: 1em;
  background: none;
  border: 0.8px solid #C4C4C4;
  border-radius: 4px;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
width: 100%;

}

.dollar{
  margin-left: 0.5em;

}


.inputLabel{

  font-family: "Okta Regular";
}
.paySection{

padding-top: 1em;
  padding-right: 26.5em;
  padding-left: 26.5em;
border-top: 0.8px solid #C4C4C4;

  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 1em;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: unset;
  font-family: "Okta Regular";
  font-size: 1em;
  background: none;
  border: 1px solid #D4B418;
  border-radius: 4px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

.span{
  text-align: center;
  padding-left: 0.2em;
  font-family: "Okta Regular";
}

.switch{
  display: block;
}
.line{

  padding-top: 0.5em;
}

.swap{


  background: #D4B418;
border-color: #D4B418;


}


.layout{
  //border: 1px solid #D4B418;
  padding-left: 3em;
  padding-right: 5em;
}