.container{
  margin-left: 5em;
background: white;
  padding-top: 1.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 2.5em;
  border-radius: 6px;
}


.header{
  font-family: "Okta Regular";

  margin: unset;
  color: black;


}

.notransaction{
  display: flex;
  justify-content: center;
  align-items: center;


}


.notransactionContainer{
font-family: "Okta Regular";


  margin-top: 7em;
}

.notransactionParagraph{
  color: black;
}